.wrapper {
  align-items: stretch;
}

/* Header styles */

.btn-card {
  width: fit-content;
  padding: 1rem;
  height: 2.5rem;
  gap: 0.25rem;
  margin-top: 2rem;
}

.swipe {
  transform: translateX(24px);
}

.todo-item.dragging {
  opacity: 0.8;
  z-index: 1000;
  position: absolute;
  width: 100%;
  cursor: grabbing;
}

.delete-icon {
  padding: 4px 2px;
  border-radius: 0.5rem;
  .delete {
    fill: hsl(0, 1%, 79%);
  }
}

.delete-icon:hover {
  background-color: #f1eded;
  .delete:hover {
    fill: #ff0000;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: none;
    padding-inline: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-inline: 1rem;
  }

  .wrapper {
    max-width: auto;
  }

  form {
    height: 3rem;
  }

  input::placeholder {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin-inline: -0.5rem;
  }
}
