.todo-item.dragging {
  opacity: 0.8;
  z-index: 1000;
  position: absolute;
  width: 100%;
  cursor: grabbing;
}

.delete-icon {
  padding: 4px 2px;
  border-radius: 0.5rem;
  .delete {
    fill: hsl(0, 1%, 79%);
  }
}

.delete-icon:hover {
  background-color: #f1eded;
  .delete:hover {
    fill: #ff0000;
  }
}
