main {
  padding: 7rem 0 3rem;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 2rem;
  min-height: 100vh;
}

.wrapper {
  max-width: 25rem;
}

/* Header Styles */

form {
  height: var(--size-2md);
}

button {
  background-color: #242526;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

button:hover {
  background-color: #131313;
}

.btn-header {
  width: var(--size-2md);
}

input,
select {
  border: 1px solid #d5dee3;
  transition: border ease 0.3s;
}

input::placeholder {
  color: #717374;
}

input:focus,
input:active,
select:focus,
select:active {
  border-color: #a1a7aa;
}

/* Card Styles */

h3 {
  font-weight: 400;
  color: #242526;
}

.task-no {
  background: #ebe5e4;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.75rem;
  color: #242526;
}

.card {
  background-color: white;
  margin-top: var(--size-1rem);
  min-height: 25rem;
  border: 1px solid hsl(9, 15%, 90%);
  padding: 1rem 1rem 1.25rem 0.5rem;
}

.card.empty-card {
  color: #242526;
}

.empty-message {
  width: 160px;
  text-align: center;
}
