main {
  padding: 7rem 0 3rem;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 2rem;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 25rem;
  gap: 3rem;
  align-items: stretch;
}

img {
  width: 100%;
}

/* Header styles */
form {
  height: 2.5rem;

  align-items: center;
  gap: 0.5rem;
}

button {
  background-color: #242526;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: #131313;
}

.btn-header {
  height: 100%;
  width: 2.5rem;
}

.btn-card {
  width: fit-content;
  padding: 1rem;
  height: 2.5rem;
  gap: 0.25rem;
  margin-top: 2rem;
}

.svg-icon {
  width: 24px;
}

input,
select {
  border-radius: 0.5rem;
  border: 1px solid #d5dee3;
  background-color: transparent;
  padding: 0.5rem;
  height: 100%;
  outline: none;
  transition: border-color ease 0.3s;
}

input {
  flex-grow: 1;
  font-size: 1rem;
}

input::placeholder {
  color: #717374;
}

input:focus,
input:active,
select:focus,
select:active {
  border-color: #a1a7aa;
}

select {
  appearance: button;
  font-size: 1rem;
}

h3 {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 400;
  color: #242526;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.card {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem 1rem 1.25rem 0.5rem;
  min-height: 25rem;
  border-radius: 0.624rem;
  border: 1px solid hsl(9, 15%, 90%);
}

.card.empty-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a7abad;
}

.empty-message {
  width: 160px;
  text-align: center;
  color: hwb(200 63% 40%);
  gap: 1rem;
}

.empty-message p {
  line-height: 1.5;
  font-size: 1.125rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
}

.card-header {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.card-header span {
  border-radius: 0.75rem;
  background: #ebe5e4;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.75rem;
  color: #242526;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
  transition: all 0.3s linear;
}

.swipe {
  transform: translateX(24px);
}

.todo-item:hover {
  .path {
    stroke: #131313;
  }
}

.todo-item.dragging {
  opacity: 0.8;
  z-index: 1000;
  position: absolute;
  width: 100%;
  cursor: grabbing;
}

.todo-span {
  margin-left: 0.25rem;
  margin-right: 0.15rem;
  flex-grow: 1;
  padding: 0.5rem 0.75rem;
  background-color: hsl(204, 33%, 97%);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card img {
  width: 18px;
}

.drag-icon {
  cursor: grab;
}

.delete-icon {
  padding: 4px 2px;
  border-radius: 0.5rem;
  .delete {
    fill: hsl(0, 1%, 79%);
  }
}

.delete-icon:hover {
  background-color: #f1eded;
  .delete:hover {
    fill: #ff0000;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: none;
    padding-inline: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-inline: 1rem;
  }

  .wrapper {
    max-width: auto;
  }

  form {
    height: 3rem;
  }

  input::placeholder {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin-inline: -0.5rem;
  }
}
