main {
  padding: 7rem 0 3rem;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 2rem;
  min-height: 100vh;
}

.wrapper {
  border: 1px solid green;
  width: 100%;
  max-width: 25rem;
}

/* Header Styles */

form {
  height: var(--size-2md);
}

button {
  background-color: #242526;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

button:hover {
  background-color: #131313;
}

.btn-header {
  height: 100%;
  width: var(--size-2md);
}

input,
select {
  border: 1px solid #d5dee3;
  height: 100%;
  outline: none;
  transition: border ease 0.3s;
}

input::placeholder {
  color: #717374;
}

input:focus,
input:active,
select:focus,
select:active {
  border-color: #a1a7aa;
}
