* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  color: #5d6266;
  font-size: 16px;
  background-color: #f9f5f4;
}

li {
  list-style-type: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* UTILITIES */

/* Display utilities */

.flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}
