@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

:root {
  scroll-behavior: smooth;
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  color: #5d6266;
  font-size: 16px;
  background-color: #f9f5f4;
  line-height: 1.6;
  font-weight: 400;
  user-select: none;

  /* Size scale */
  --size-sm: 0.25rem;
  --size-md: 0.5rem;
  --size-1rem: 1rem;
  --size-1sm: 1.25rem;
  --size-1md: 1.5rem;
  --size-2rem: 2rem;
  --size-2md: 2.5rem;
  --size-3rem: 3rem;
  --size-3md: 3.5rem;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: var(--size-1md);
}

/* UTILITIES */

/* Display utilities */

.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex !important;
}

/* flex utilities */
.justify-center {
  justify-content: center;
}

.justify-stretch {
  justify-content: stretch;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

/* Space utilities */
/** flex-gap spacing**/
.gap-sm {
  gap: var(--size-sm);
}

.gap-md {
  gap: var(--size-md);
}

.gap-1rem {
  gap: var(--size-1rem);
}

.gap-3rem {
  gap: var(--size-3rem);
}

/** padding spacing**/
.pd-in-sm {
  padding-inline: var(--size-sm);
}

.pd-in-1rem {
  padding-inline: var(--size-1rem);
}
.pd-bl-1rem {
  padding-block: var(--size-1rem);
}

/** margin spacing**/
.mg-in-sm {
  margin-inline: var(--size-sm);
}

.mg-in-auto {
  margin-inline: auto;
}

/* border utilities */
.bd-radius-sm {
  border-radius: var(--size-sm);
}

.bd-radius-md {
  border-radius: var(--size-md);
}

.bd-radius-1rem {
  border-radius: var(--size-1rem);
}

.ot-none {
  outline: none;
}

/* typography utilities */
.fs-1rem {
  font-size: var(--size-1rem);
}
.fs-1sm {
  font-size: var(--size-1sm);
}

/* size utilities */
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
